ham/* linguist-vendored=false
ham_cal/* linguist-vendored=false
ham_test/* linguist-vendored=false
spam/* linguist-vendored=false
spam_cal/* linguist-vendored=false
spam_test/* linguist-vendored=false
