*.java linguist-vendored
ham/* linguist-detectable=false
ham_cal/* linguist-detectable=false
ham_test/* linguist-detectable=false
spam/* linguist-detectable=false
spam_cal/* linguist-detectable=false
spam_test/* linguist-detectable=false
